* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
  background-color: #000;
  overflow-x: hidden;
}

.background-wrapper {
  position: relative;
  width: 100%;
}

/* GNB 상단 로고 */
.gnb {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 4.2vw; /* 반응형 여백 */
  z-index: 3;
}

.gnb img:first-child {
  height: 1.5vw; /* 반응형 크기 */
  max-height: 60px; /* 최대 크기 제한 */
  min-height: 20px;
  cursor: pointer;
}

.gnb img:nth-child(2) {
  height: 1.5vw;
  max-height: 15px;
  min-height: 10px;
  cursor: pointer;
}

.particle-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35.5%;
  z-index: 2;
  pointer-events: none;
}

#particles-js {
  width: 100%;
  height: 100%;
}

.background-container img {
  width: 100vw;
  height: auto;
  display: block;
  position: relative;
  z-index: 1;
  object-fit: cover;
  object-position: center center;
  transition: all 0.3s ease-in-out;
}


.title-text-area {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.title-en {
  font-family: "Anonymous Pro", monospace; /* 폰트 적용 */
  font-size: clamp(30px, 4vw, 120px);
  letter-spacing: 1.3vw; /* 반응형으로 조정 */

  opacity: 0.8;
  background: linear-gradient(
    180deg,
    #a7a7a7 -13.69%,
    rgba(160, 160, 160, 0.02) 120.77%,
    rgba(159, 183, 237, 0) 195.24%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: plus-lighter;
  white-space: nowrap;
  margin-bottom: 4vh;
}

.title-en p {
  margin-bottom: 2vh;
}

.title-cn {
  z-index: 3;
  margin-bottom: 1vh;
}

.title-cn img {
  width: clamp(120px, 25vw, 230px);
  height: auto;
  display: block;
}

.title-ko {
  margin-bottom: 8vh;
}

.title-ko img {
  width: clamp(120px, 25vw, 410px);
  height: auto;
  display: block;
}

.title-text-area p {
  color: #000816;
  text-align: center;
}

.sub-title-ko {
  font-family: "YESMyoungjo-Regular", serif;
  font-size: clamp(14px, 2vw, 18px);
  margin-bottom: 4vh;
}

.sub-title-ko p:not(:last-child) {
  margin-bottom: 1vh;
}

.sub-title-date {
  font-family: "Nelphim", serif;
  font-size: clamp(12px, 2vw, 16px);
}

.content-text-area {
  position: absolute;
  top: 60%;
  left: 20%;
  z-index: 5;
}

.content-text-area p {
  text-align: left;
  font-family: "YESMyoungjo-Regular", serif;
  color: #fff;
}

.content-text1{
  font-size: clamp(14px, 2vw, 18px);
  margin-bottom: 7vh;
}

.content-text2{
  font-size: clamp(16px, 2.2vw, 20px);
  margin-bottom: 7vh;
}

.content-text3{
  font-size: clamp(12px, 2vw, 16px);
}

.content-text3 p, .content-text4 p, .content-text5 p, .content-text6 p {
  margin-bottom: 2vh;
}

.content-text4, .content-text5, .content-text6 {
  font-size: clamp(12px, 2vw, 16px);
  margin-bottom: 7vh;
}

.lottie-ship {
  position: absolute;
  top: 38.5%;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 400px;
  z-index: 24; /* 배경 위, 텍스트 아래 */
  pointer-events: none;
}

.lottie-whale {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  z-index: 24; /* 배경 위, 텍스트 아래 */
  pointer-events: none;
  opacity: 0.7;
}

.btn img{
  width: 20vw;
  min-width: 220px;
  height: auto;
  cursor: pointer;
}

#textLine {
  width: 60%;
}

@media (max-width: 950px) {
  .background-container img {
    width: 150vw;
  }
  #textLine {
    width: 55%;
  }

  .btn img{
    width: 20vw;
    min-width: 200px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .background-container img {
    width: 200vw;
  }
  .sub-title-ko {
    width: 90vw;
  }

  .title-text-area {
    top: 20%;
  }
  #textLine {
    width: 50%;
  }
  .title-en {
    font-size: clamp(30px, 7vw, 120px);
    margin-bottom: 5vh;
  }
  
  .title-cn {
    z-index: 3;
    margin-bottom: 3vh;
  }
  
  .title-cn img {
    width: clamp(120px, 30vw, 230px);
  }
  
  .title-ko {
    margin-bottom: 10vh;
  }
  
  .title-ko img {
    width: clamp(120px, 30vw, 410px);
  }
  
  .sub-title-ko {
    font-size: clamp(14px, 4vw, 18px);
    margin-bottom: 4vh;
  }
  
  .sub-title-ko p:not(:last-child) {
    margin-bottom: 2vh;
  }
  
  .sub-title-date {
    font-family: "Nelphim", serif;
    font-size: clamp(12px, 2vw, 16px);
  }
  
  .lottie-ship {
    top: 38.5%;
    left: 50%;
    width: 400px;
    height: 400px;
  }
  
  .lottie-whale {
    top: 45%;
    left: 25%;
    width: 150%;
    height: auto;
  }

  .content-text-area {
    top: 65%;
    left: 15%;
  }
  
  .content-text-area p {
    text-align: left;
    font-family: "YESMyoungjo-Regular", serif;
    color: #fff;
  }
  
  .content-text1{
    font-size: clamp(14px, 2vw, 18px);
    margin-bottom: 7vh;
  }
  
  .content-text2{
    font-size: clamp(16px, 2.2vw, 20px);
    margin-bottom: 7vh;
  }
  
  .content-text3{
    font-size: clamp(12px, 2vw, 16px);
  }
  
  .content-text3 p, .content-text4 p, .content-text5 p, .content-text6 p {
    margin-bottom: 2vh;
  }
  
  .content-text4, .content-text5, .content-text6 {
    font-size: clamp(12px, 2vw, 16px);
    margin-bottom: 7vh;
  }

  .btn img{
    width: 20vw;
    min-width: 160px;
    height: auto;
  }
}

@media (max-width: 450px) {
  .background-container img {
    width: 280vw;
  }
  .sub-title-ko {
    width: 90vw;
  }

  .title-text-area {
    top: 20%;
  }

  #textLine {
    width: 70%;
    min-width: 210px;
  }

  .title-en {
    font-size: clamp(30px, 8vw, 120px);
    margin-bottom: 8vh;
  }
  
  .title-cn {
    z-index: 3;
    margin-bottom: 2vh;
  }
  
  .title-cn img {
    width: clamp(120px, 40vw, 230px);
  }
  
  .title-ko {
    margin-bottom: 6vh;
  }
  
  .title-ko img {
    width: clamp(120px, 45vw, 410px);
  }
  
  .sub-title-ko {
    font-size: clamp(14px, 4vw, 18px);
    margin-bottom: 4vh;
  }
  
  .sub-title-ko p:not(:last-child) {
    margin-bottom: 1.5vh;
  }
  
  .sub-title-date {
    font-family: "Nelphim", serif;
    font-size: clamp(12px, 3.5vw, 16px);
  }
  
  .lottie-ship {
    top: 33%;
    left: 50%;
    width: 400px;
    height: 400px;
  }
  
  .lottie-whale {
    top: 45%;
    left: 10%;
    width: 180%;
    height: auto;
  }

  .content-text-area {
    top: 65%;
    left: 15%;
  }
  
  .content-text-area p {
    text-align: left;
    font-family: "YESMyoungjo-Regular", serif;
    color: #fff;
  }
  
  .content-text1{
    font-size: clamp(14px, 2.5vw, 18px);
    margin-bottom: 7vh;
  }
  
  .content-text2{
    font-size: clamp(16px, 2.8vw, 20px);
    margin-bottom: 7vh;
  }
  
  .content-text3{
    font-size: clamp(12px, 2.5vw, 16px);
  }
  
  .content-text3 p, .content-text4 p, .content-text5 p, .content-text6 p {
    margin-bottom: 2vh;
  }
  
  .content-text4, .content-text5, .content-text6 {
    font-size: clamp(12px, 2.5vw, 16px);
    margin-bottom: 7vh;
  }
}

@media (max-width: 350px) {
  .background-container img {
    width: 320vw;
  }
}


.fade-up {
  opacity: 0;
  transform: translate(0, -40%); /* 기존 위치 유지 + 위로 이동 */
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.fade-up.visible {
  opacity: 1;
  transform: translate(0%, -50%); /* 원래 중앙 위치로 복귀 */
}


@keyframes hover-jiggle {
  0%, 100% {
    transform: translate(0, -50%) rotate(0deg);
  }
  25% {
    transform: translate(0, -50%) rotate(0.8deg);
  }
  50% {
    transform: translate(0, -50%) rotate(-0.8deg);
  }
  75% {
    transform: translate(0, -50%) rotate(0.4deg);
  }
}

.jiggle-on-hover {
  /* transform: translate(-50%, -50%); */
  transition: transform 0.2s ease-out; /* 부드럽게 복귀 */
}

.jiggle-on-hover:hover {
  animation: hover-jiggle 0.6s ease-in-out infinite;
}



