/* Base Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  all: unset; /* 완전히 초기화 (권장) */
  cursor: pointer;
}

html, body {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  overflow-x: hidden;
  font-family: 'YESMyoungjo-Regular', serif;
}

/* Layout */
.background-wrapper {
  position: relative;
  width: 100%;
}

.background-container img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

/* Particle */
.particle-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 28%;
  z-index: 2;
  pointer-events: none;
}

#particles-js {
  width: 100%;
  height: 100%;
}

/* Lottie Elements */
.lottie-ship {
  position: absolute;
  top: 31%;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 400px;
  z-index: 3;
  pointer-events: none;
}

/* 시작 */
#gnb {
  position: fixed;
  top: 30px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 31;
}

.gnb-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8vw;
  font-size: 16px;
  font-family: 'Pretendard', sans-serif;
  font-weight: 300;
  color: #A7A7A7;
  z-index: 32;
  cursor: pointer;
}

.gnb-center span:hover{
  font-weight: 300;
  color: #fff;
}

#gnbTitle {
  position: absolute;
  right: 3vw;
  font-size: 14px;
  font-family: 'YESMyoungjo-Regular', serif;
  opacity: 0.6;
  white-space: nowrap;
  font-size: 12px;
  z-index: 32;
  cursor: pointer;
}

.hero-text {
  position: absolute;
  z-index: 30;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Anonymous Pro", monospace;
  font-size: clamp(40px, 3.3vw, 50px);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 21.618px;
  white-space: nowrap;
  background: linear-gradient(180deg, #001646 -13.69%, rgba(79, 103, 153, 0.32) 90.77%, rgba(159, 183, 237, 0.00) 195.24%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: plus-lighter;
}

.main-title {
  position: absolute;
  z-index: 30;
  top: 14%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-cn {
  filter: brightness(0) invert(1);
  width: 13.23vw;
  min-width: 200px;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

.title-ko {
  filter: brightness(0) invert(1);
  width: 21.2vw;
  min-width: 320px;
  height: auto;
  display: block;
}

.main-subtitle {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 30;
  font-family: 'YESMyoungjo-Regular', serif;
  white-space: nowrap;
}

.subtitle-phrase {
  font-size: clamp(16px, 1.3vw, 20px);
  font-weight: 300;
  margin-bottom: 26px;
  white-space: nowrap;
}

.subtitle-date {
  display: inline-block;
  background-color: black;
  padding: 8px 20px;
  border-radius: 6px;
  font-weight: 500;
  font-size: clamp(14px, 1.06vw, 16px);
  margin-bottom: 80px;
  white-space: nowrap;
}

.subtitle-desc {
  font-size: clamp(14px, 1.06vw, 16px);
  line-height: 2;
  opacity: 0.8;
}

.content-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 30;
  font-family: 'YESMyoungjo-Regular', serif;
  white-space: nowrap;
}

.content-1 p {
  font-size: clamp(14px, 1.06vw, 16px);
  line-height: 2.6;
  opacity: 0.8;
}

.content-2 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: white;
  z-index: 30;
  font-family: 'YESMyoungjo-Regular', serif;
  width: 80%;
}
.content-2 .first {
  font-size: clamp(14px, 2.4vw, 26px);
}

.text-line {
  width: 200px;
  margin-bottom: 40px;
}

.content-2 .second {
  font-size: clamp(14px, 1.06vw, 16px);
  margin-bottom: 20px;
  font-weight: 700;
}
.content-2 .third, .third_mobile {
  font-family: 'YESMyoungjo-Regular', serif;
  font-size: clamp(12px, 1vw, 12px);
  font-weight: 400;
  line-height: 3;
  padding: 10% 0;
}

.content-3 {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.gallery-image {
  width: 30%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.8s ease, opacity 0.8s ease;
  opacity: 0.4;
}

.gallery-image.center {
  opacity: 1;
}



/* 끝 */

/* Animations */
@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(5vw, -5vh);
  }
}

@media (max-width: 1260px) {
  .background-container img {
    width: 120vw;
  }
}

@media (max-width: 1024px) {
  .background-container img {
    width: 134vw;
  }
}

@media (max-width: 910px) {
  .background-container img {
    width: 138vw;
  }
}

@media (max-width: 810px) {
  .background-container img {
    width: 150vw;
  }
}

@media (max-width: 768px) {
  .background-container img {
    width: 170vw;
  }
  .subtitle-date{
    margin-bottom: 20px;
  }
}

@media (max-width: 660px) {
  .background-container img {
    width: 180vw;
  }
  .hero-text {
    letter-spacing: 1px;
  }
  .main-subtitle{
    top: 24%;
  }
  .subtitle-date{
    margin-bottom: 40px;
  }
}

@media (max-width: 550px) {
  .background-container img {
    width: 220vw;
  }
}

@media (max-width: 460px) {
  .background-container img {
    width: 250vw;
  }
  .content-2{
    top: 73%;
  }
  .content-3{
    top: 92%;
  }
  .hero-text{
    font-size: 30px;
  }
  .title-cn {
    width: 180px;
    min-width: 180px;
  }
  .title-ko {
    width: 280px;
    min-width: 280px;
  }
}

@media (max-width: 400px) {
  .background-container img {
    width: 300vw;
  }
}

@media (max-width: 360px) {
  .background-container img {
    width: 400vw;
  }
  .title-cn {
    width: 150px;
    min-width: 150px;
  }
  .title-ko {
    width: 250px;
    min-width: 250px;
  }
}

.gnb-background{
  display: none;
  position: fixed;
  background-color: #fff;
  opacity: 0.5;
  z-index: 2;
  width: 100vw;
  padding: 20px 0px;
  color: transparent;
}
